/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Regole CSS */
body {
    background-color: #38AAFF;
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
header {
    padding: 20px;
    background-color: white;
}
#logo-img {
    vertical-align: middle;
}
#logo-text{
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}
/* MAIN */
.container {
    width: 60%;
    margin: 30px auto;
    border-radius: 10px;
}
/* MAIN TOP*/
.top {
    background-color: white;
    margin-bottom: 2px;
    border-radius:  10px 10px 0px 0px;
    padding: 15px 30px;
}
.tasks {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 30px;
}
.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.btn-blue {
    background-color: #38AAFF;
}
.btn-grey {
    background-color: white;
    border: 1px solid grey;
}
/* MAIN BOTTOM */
ul {
    list-style: none;
}
.tasks h3::before {
    content: '\2713';
    margin-right: 10px;
}
h3 {
    color: rgb(49, 49, 49)
}
.circle {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
}
.checked {
    border: 1px solid green;
    color: green;
}
.checked::before {
    content: '\2713';
}
.deleted {
    border: 1px solid red;
    color: red;
}
.deleted::before {
    content: '\2715';
}
li {
    padding: 10px 0px;
    font-size: 20px;
}
/* TAG e COLORI */
.tag {
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 12px;
}
.tag-blue {
    background-color: rgb(120, 193, 241);
}
.tag-purple {
    background-color: rgb(240, 118, 240);
}
.tag-green {
    background-color: rgb(85, 226, 155);
}
.tag-orange {
    background-color: rgb(223, 145, 28);
}
.tag-lime {
    background-color: rgb(135, 245, 108);
}
.tag-pink{
    background-color: rgb(236, 87, 150);
}